/* About.css */

.about-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    font-family: 'Arial', sans-serif;
  }
  
  h1 {
    color: #283a46;
  }
  
  h2 {
    color: #2c3e50;
  }
  
  p {
    color: #34495e;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    background-color: #3498db;
    color: white;
    padding: 8px;
    margin: 5px;
    border-radius: 5px;
    font-weight: bold;
  }
  
  /* Add more styling as needed */
  